<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Ticket</title>
</head>
<body>
<h1>Book Ticket</h1>
<form th:action="@{/book-ticket}" method="post">
    <p>User ID: <input type="text" name="userId" /></p>
    <p>Event ID: <input type="text" name="eventId" /></p>
    <p><input type="submit" value="Book Ticket" /></p>
</form>
<h2>Tickets</h2>
<div th:each="ticket : ${tickets}">
    <p th:text="'Ticket ID: ' + ${ticket.id} + ', Event: ' + ${ticket.event.name} + ', User: ' + ${ticket.userAccount.user.name}"></p>
</div>
</body>
</html>