<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticketland Home</title>
</head>
<body>
<h1>Welcome to Ticketland!</h1>
<nav>
    <ul>
        <li><a th:href="@{/users}">Users</a></li>
        <li><a th:href="@{/events}">Events</a></li>
        <li><a th:href="@{/tickets}">Tickets</a></li>
        <li><a th:href="@{/tickets/search}">Search Tickets</a></li>
        <li><a th:href="@{/tickets/upload}">Preload Tickets</a></li>
    </ul>
</nav>
</body>
</html>