<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Event</title>
</head>
<body>
<h1>Event List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="e : ${events}">
        <td th:text="${e.id}">User ID</td>
        <td th:text="${e.name}">User Name</td>
        <td th:text="${e.email}">User Email</td>
    </tr>
</table>

<h1>Register User</h1>
<form th:action="@{/events}" th:object="${user}" method="post">
    <p>Id: <input type="text" th:field="*{id}" required/></p>
    <p>Name: <input type="text" th:field="*{name}" required/></p>
    <p>Email: <input type="email" th:field="*{email}" required/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>